In [18]:
import numpy as np

import pandas as pd

In [35]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [38]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [42]:
xt = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
xt

                   A         B         C         D
2013-01-01 -2.828974 -0.699990  0.486606 -0.473673
2013-01-02  0.733926 -0.598835 -1.156507  0.035904
2013-01-03  0.257981  1.625184 -0.032610 -0.035905
2013-01-04  1.041606 -1.398613 -0.652425  0.938990
2013-01-05  0.002137 -0.218821  0.118554  0.598652
2013-01-06  0.558560  0.292985  1.123855  0.059770

In [43]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )
   ...: 

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
In [11]: df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [48]:
 df.head(2)

                   A         B         C         D
2013-01-01  0.216467 -0.532668  1.040377  1.477833
2013-01-02  1.714096  2.498547  1.022764  0.438714

In [49]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.818032 -0.203636  0.592200  1.602161
2013-01-06  0.540646  0.538906 -1.190339  0.271840

In [27]:
In [15]: df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
In [16]: df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [29]:
In [17]: df.to_numpy()

array([[ 0.82015176,  1.17385564,  1.36669552, -1.18913677],
       [ 0.66932945, -1.90103953, -0.36360111,  2.53514919],
       [-1.09650736, -1.65543276, -0.10574697,  1.36253719],
       [-1.40494297,  0.94314392,  1.41467921,  0.85143716],
       [-0.73586216, -0.06947485, -0.61072312, -0.21625747],
       [ 0.99301797,  0.07495255, -0.25537441, -0.09357003]])

In [30]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [31]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [32]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.125802 -0.238999  0.240988  0.541693
std    1.070464  1.287601  0.905793  1.320410
min   -1.404943 -1.901040 -0.610723 -1.189137
25%   -1.006346 -1.258943 -0.336544 -0.185586
50%   -0.033266  0.002739 -0.180561  0.378934
75%    0.782446  0.726096  0.998585  1.234762
max    0.993018  1.173856  1.414679  2.535149

In [33]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.820152    0.669329   -1.096507   -1.404943   -0.735862    0.993018
B    1.173856   -1.901040   -1.655433    0.943144   -0.069475    0.074953
C    1.366696   -0.363601   -0.105747    1.414679   -0.610723   -0.255374
D   -1.189137    2.535149    1.362537    0.851437   -0.216257   -0.093570